@{
    ViewData["Title"] = "Register";
    var showError = ViewData["WrongFormData"] as String;
}
@model User

<div class="container text-center">
    <h2>Zarejestruj się do Printy</h2>

    @if (showError == "True") {
        <div class="alert alert-danger" role="alert">
            Niektóre z wymaganych pól są niepoprawne
        </div>
    }

    @using (Html.BeginForm()) {
        <div class="form-group">
            @Html.LabelFor(u => u.Name, "Imię")
            @Html.TextBoxFor(u => u.Name, new { @class = "form-control", @type = "text" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Surname, "Nazwisko")
            @Html.TextBoxFor(u => u.Surname, new { @class = "form-control", @type = "text" })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Email, "Email")
            @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type = "email", @required = true })
        </div>
        <div class="form-group">
            @Html.LabelFor(u => u.Password, "Hasło")
            @Html.PasswordFor(u => u.Password, new { @class = "form-control", @required = true })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Zarejestruj</button>
        </div>
    }

    <a asp-controller="Authorization" asp-action="Login">Masz już konto?</a>
</div>