@model Printer

@{
    ViewData["Title"] = "Dodaj drukarkę";
}

<h1>Formularz dodawania drukarki</h1>
<h4>
    Dodaj swoją drukarkę, aby móc udostępnić ją innym użytkownikom
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm()) {

            <div class="form-group">
                @Html.LabelFor(p => p.Name, "Twoja nazwa")
                @Html.TextBoxFor(p => p.Name, new { @class = "form-control", @type = "text", @required = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Description, "Twój opis")
                @Html.TextAreaFor(p => p.Description, new { @class = "form-control", @required = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Email, "Twój email")
                @Html.TextBoxFor(p => p.Email, new { @class = "form-control", @type = "email", @required = true })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.PhoneNumber, "Twój nr telefonu")
                @Html.TextBoxFor(p => p.PhoneNumber, new { @class = "form-control", @type = "text", @required = true })
            </div>

            <div class="form-group">
                <input type="submit" value="Udostępnij" class="btn btn-success" />
            </div>
        }
    </div>
</div>

<div>
    <a asp-action="Index">Wróć do listy</a>
</div>

